.FilterList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 232px;
  height: 90px;
  background: #fff;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.FilterList::before {
  position: absolute;
  top: 29px;
  content: '';
  height: 1px;
  width: 232px;
  background-color: #dfe5ec;
}
.FilterList::after {
  position: absolute;
  bottom: 29px;
  content: '';
  height: 1px;
  width: 232px;
  background-color: #dfe5ec;
}
.FilterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
.Active {
  background: #2196f3;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .FilterList {
    flex-direction: row;
    justify-content: space-between;
    width: 502px;
    height: 50px;
  }
  .FilterList::before {
    top: 0;
    left: 167px;
    width: 1px;
    height: 49px;
  }
  .FilterList::after {
    bottom: 0;
    right: 167px;
    width: 1px;
    height: 49px;
  }
  .FilterItem {
    width: 167px;
  }
}